<p id="alerts" class="headline-layout">Alerts</p>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <span class="corner-border-top"></span>
    <p class="alert-heading">Primary!</p>
    <hr>
    <p>Primary alert: <a href="#" class="alert-link">Alert Link</a></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="corner-border-bottom"></span>
</div>
<div class="alert alert-highlight alert-dismissible fade show" role="alert">
    <span class="corner-border-top"></span>
    <p class="alert-heading">Highlight!</p>
    <hr>
    <p>Highlight alert: <a href="#" class="alert-link">Alert Link</a></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="corner-border-bottom"></span>
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <span class="corner-border-top"></span>
    <p class="alert-heading">Success!</p>
    <hr>
    <p>Success alert: <a href="#" class="alert-link">Alert Link</a></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="corner-border-bottom"></span>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <span class="corner-border-top"></span>
    <p class="alert-heading">Warning!</p>
    <hr>
    <p>Warning alert: <a href="#" class="alert-link">Alert Link</a></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="corner-border-bottom"></span>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span class="corner-border-top"></span>
    <p class="alert-heading">Danger!</p>
    <hr>
    <p>Warning alert: <a href="#" class="alert-link">Alert Link</a></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="corner-border-bottom"></span>
</div>
<div class="alert alert-light alert-dismissible fade show" role="alert">
    <span class="corner-border-top"></span>
    <p class="alert-heading">Light!</p>
    <hr>
    <p>Warning alert: <a href="#" class="alert-link">Alert Link</a></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="corner-border-bottom"></span>
</div>