<p id="containers-backgrounds" class="headline-layout">Containers & Backgrounds</p>
<div class="container-fullwidth bg-primary">
    <div class="container">
        <p class="headline2">bg-primary</p>
        <p>
            You can also get an element to span the whole viewport width with <strong>container-fullwidth</strong>.</br>
            Here it is used to create a fullwidth background and container-width text.
        </p>
    </div>
</div>
<div class="container-fullwidth bg-highlight">
    <div class="container">
        <p class="headline2">bg-highlight</p>
        <p>
            You can also get an element to span the whole viewport width with <strong>container-fullwidth</strong>.</br>
            Here it is used to create a fullwidth background and container-width text.
        </p>
    </div>
</div>
<div class="container-fullwidth bg-success">
    <div class="container">
        <p class="headline2">bg-success</p>
        <p>
            You can also get an element to span the whole viewport width with <strong>container-fullwidth</strong>.</br>
            Here it is used to create a fullwidth background and container-width text.
        </p>
    </div>
</div>
<div class="container-fullwidth bg-warning">
    <div class="container">
        <p class="headline2">bg-warning</p>
        <p>
            You can also get an element to span the whole viewport width with <strong>container-fullwidth</strong>.</br>
            Here it is used to create a fullwidth background and container-width text.
        </p>
    </div>
</div>
<div class="container-fullwidth bg-danger">
    <div class="container">
        <p class="headline2">bg-danger</p>
        <p>
            You can also get an element to span the whole viewport width with <strong>container-fullwidth</strong>.</br>
            Here it is used to create a fullwidth background and container-width text.
        </p>
    </div>
</div>
<div class="container-fullwidth bg-light">
    <div class="container">
        <p class="headline2">bg-light</p>
        <p>
            You can also get an element to span the whole viewport width with <strong>container-fullwidth</strong>.</br>
            Here it is used to create a fullwidth background and container-width text.
        </p>
    </div>
</div>
<div class="container-fullwidth bg-dark">
    <div class="container">
        <p class="headline2">bg-dark</p>
        <p>
            You can also get an element to span the whole viewport width with <strong>container-fullwidth</strong>.</br>
            Here it is used to create a fullwidth background and container-width text.
        </p>
    </div>
</div>