<p id="buttons-links" class="headline-layout">Buttons & Links</p>

<button class="btn btn-primary">Standard button</button>
<button class="btn btn-outline-primary">Outline button</button>
<button class="btn btn-primary btn-rounded">Rounded button</button>
<button class="btn btn-link">Link button</button>
</br>
<button class="btn btn-highlight">Standard button</button>
<button class="btn btn-outline-highlight">Outline button</button>
<button class="btn btn-highlight btn-rounded">Rounded button</button>
<button class="btn btn-link text-highlight">Link button</button>
</br>
<button class="btn btn-success">Standard button</button>
<button class="btn btn-outline-success">Outline button</button>
<button class="btn btn-success btn-rounded">Rounded button</button>
<button class="btn btn-link text-success">Link button</button>
</br>
<button class="btn btn-warning">Standard button</button>
<button class="btn btn-outline-warning">Outline button</button>
<button class="btn btn-warning btn-rounded">Rounded button</button>
<button class="btn btn-link text-warning">Link button</button>
</br>
<button class="btn btn-danger">Standard button</button>
<button class="btn btn-outline-danger">Outline button</button>
<button class="btn btn-danger btn-rounded">Rounded button</button>
<button class="btn btn-link text-danger">Link button</button>
</br>
<button class="btn btn-light">Standard button</button>
<button class="btn btn-outline-light">Outline button</button>
<button class="btn btn-light btn-rounded">Rounded button</button>
<button class="btn btn-link text-light">Link button</button>
</br>
<div class="bg-light pt-3 px-3">
    <button class="btn btn-dark">Standard button</button>
    <button class="btn btn-outline-dark">Outline button</button>
    <button class="btn btn-dark btn-rounded">Rounded button</button>
    <button class="btn btn-link text-dark">Link button</button>
</div>
</br>
<button class="btn btn-primary" disabled>Disabled standard button</button>
<button class="btn btn-outline-primary" disabled>Disabled outline button</button>
<button class="btn btn-primary btn-rounded" disabled>Disabled rounded button</button>
<button class="btn btn-link" disabled>Disabled link button</button>

<p class="headline-layout small">Icon buttons</p>
<button class="btn btn-danger btn-icon"><i class="fa fa-fw fa-trash"></i></button>
<button class="btn btn-outline-highlight btn-icon"><i class="fa fa-fw fa-eye"></i></button>
<button class="btn btn-success btn-rounded btn-icon"><i class="fa fa-fw fa-check"></i></button>

<p class="headline-layout small">Small & large buttons</p>
<button class="btn btn-sm btn-highlight"><i class="fa fa-fw fa-eye"></i></button>
<button class="btn btn-sm btn-outline-highlight"><i class="fa fa-fw fa-eye"></i></button>
<button class="btn btn-sm btn-highlight btn-rounded"><i class="fa fa-fw fa-eye"></i></button>
<button class="btn btn-sm btn-danger"><i class="fa fa-fw fa-eye"></i> With text</button>
<button class="btn btn-sm btn-outline-success btn-rounded"><i class="fa fa-fw fa-eye"></i> With text</button>
<button class="btn btn-sm btn-success btn-rounded"><i class="fa fa-fw fa-eye"></i> With text</button>
<br>
<button class="btn btn-lg btn-highlight"><i class="fa fa-fw fa-eye"></i></button>
<button class="btn btn-lg btn-outline-highlight"><i class="fa fa-fw fa-eye"></i></button>
<button class="btn btn-lg btn-highlight btn-rounded"><i class="fa fa-fw fa-eye"></i></button>
<button class="btn btn-lg btn-danger"><i class="fa fa-fw fa-eye"></i> With text</button>
<button class="btn btn-lg btn-outline-success btn-rounded"><i class="fa fa-fw fa-eye"></i> With text</button>
<button class="btn btn-lg btn-success btn-rounded"><i class="fa fa-fw fa-eye"></i> With text</button>

<p class="headline-layout small">Text Links</p>
<a href="#" class="text-link">Normal link</a></br>
<a href="#" class="text-link link-active">Active link</a>

<p class="headline-layout small">Button groups</p>
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-highlight">Left</button>
    <button type="button" class="btn btn-highlight">Middle</button>
    <button type="button" class="btn btn-highlight">Right</button>
</div>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-highlight">Left</button>
    <button type="button" class="btn btn-highlight">Middle</button>
    <button type="button" class="btn btn-highlight">Right</button>
</div>
<br>
<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-highlight">Left</button>
    <button type="button" class="btn btn-highlight">Middle</button>
    <button type="button" class="btn btn-highlight">Right</button>
</div>
<br>
<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-highlight">Top</button>
    <button type="button" class="btn btn-highlight">Middle</button>
    <button type="button" class="btn btn-highlight">Bottom</button>
</div>
<div class="btn-group-vertical" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-highlight">Top</button>
    <button type="button" class="btn btn-highlight">Middle</button>
    <button type="button" class="btn btn-highlight">Bottom</button>
</div>
<div class="btn-group-vertical btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-highlight">Top</button>
    <button type="button" class="btn btn-highlight">Middle</button>
    <button type="button" class="btn btn-highlight">Bottom</button>
</div>