<p id="component" class="headline-layout">Components</p>
<p>Description.</p>
Custom components.
<div class="accordion" id="bootstrapComponent">
    <div class="card">
        <div class="card-header" id="bootstrapComponentH">
            <button class="btn btn-block btn-link" type="button" data-toggle="collapse" data-target="#bootstrapComponentC" aria-expanded="false" aria-controls="bootstrapComponentC">
                Standard Bootstrap Components
                <i class="fa fa-fw fa-chevron-up"></i>
                <i class="fa fa-fw fa-chevron-down"></i>
            </button>
        </div>
        <div id="bootstrapComponentC" class="collapse" aria-labelledby="bootstrapComponentH" data-parent="#bootstrapComponent">
            <div class="card-body">
                <p class="headline-layout small">Component</p>
                Component here.
                <p class="headline-layout small">Other component</p>
                Other component here.
            </div>
        </div>
    </div>
</div>