<p id="forms" class="headline-layout">Forms</p>
<p class="headline-layout small">Standard form</p>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <small>Help text.</small>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select id="exampleFormControlSelect1" class="form-control selectpicker" data-style="btn-highlight">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple id="exampleFormControlSelect2" class="form-control selectpicker" data-style="btn-highlight">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="input-group">
        <label class="input-group-btn btn btn-highlight">
            <i class="fa fa-fw fa-file"></i> Browse&hellip;
            <input type="file" style="display: none;" multiple>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
    <div class="input-group">
        <label class="input-group-btn btn btn-highlight">
            <i class="fa fa-fw fa-file"></i> Browse&hellip;
            <input type="file" style="display: none;" multiple>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
    <span class='label label-info' id="upload-file-info"></span>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
            <label class="form-check-label" for="defaultCheck1"><i class="fa fa-check"></i> Default checkbox</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2"><i class="fa fa-check"></i> Disabled checkbox</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1"><i class="fa fa-circle"></i> Default radio</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2"><i class="fa fa-circle"></i> Second default radio</label>
        </div>
        <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3"><i class="fa fa-circle"></i> Disabled radio</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="inlineCheck1" checked>
            <label class="form-check-label" for="inlineCheck1"><i class="fa fa-check"></i> Inline checkbox</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="inlineCheck2">
            <label class="form-check-label" for="inlineCheck2"><i class="fa fa-check"></i> Second inline checkbox</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadios" id="inlineRadios1" value="option1" checked>
            <label class="form-check-label" for="inlineRadios1"><i class="fa fa-circle"></i> Inline radio</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadios" id="inlineRadios2" value="option2">
            <label class="form-check-label" for="inlineRadios2"><i class="fa fa-circle"></i> Second inline radio</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadios" id="inlineRadios3" value="option3">
            <label class="form-check-label" for="inlineRadios3"><i class="fa fa-circle"></i> Third inline radio</label>
        </div>
    </div>
    <div class="form-group">
        <label for="formControlRange">Example Range input</label>
        <input type="range" class="form-control-range" id="formControlRange">
    </div>
    <div class="form-group">
        <label for="customRange1">Custom range</label>
        <input type="range" class="custom-range" id="customRange1">
    </div>
</form>
<p class="headline-layout small">Form inline</p>
<form class="form-inline mb-5">
    <div class="form-group">
      <label for="inputPassword6">Password</label>
      <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
      <small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long.
      </small>
    </div>
</form>
<p class="headline-layout small">Compact input fields</p>
<form class="form-compact">
    <div class="form-group">
        <label for="exampleFormControlInput11">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput11" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect11">Example select</label>
        <select id="exampleFormControlSelect11" class="form-control selectpicker" data-style="btn-highlight">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect21">Example multiple select</label>
        <select multiple id="exampleFormControlSelect21" class="form-control selectpicker" data-style="btn-highlight">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea11">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea11" rows="3"></textarea>
    </div>
</form>