<p id="modals" class="headline-layout">Modals</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupModal">
    Open popup standard modal
</button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#popupDangerModal">
    Open popup danger modal
</button>
<div id="popupModal" class="modal modal-primary fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header main">
                <p class="modal-title headline-alert">Primary modal main title</p>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <p class="modal-title">Modal title</p>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal">Save</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="popupDangerModal" class="modal modal-danger fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header main">
                <p class="modal-title headline-alert">Danger modal main title</p>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <p class="modal-title">Modal title</p>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal">Save</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-primary in-flow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header main">
                <p class="modal-title headline-alert">Primary modal main title</p>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <p class="modal-title">Modal title</p>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-highlight in-flow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header main">
                <p class="modal-title headline-alert">Highlight modal main title</p>
            </div>
            <div class="modal-header">
                <p class="modal-title">Modal title</p>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-success in-flow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header main">
                <p class="modal-title headline-alert">Success modal main title</p>
            </div>
            <div class="modal-header">
                <p class="modal-title">Modal title</p>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-warning in-flow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header main">
                <p class="modal-title headline-alert">Warning modal main title</p>
            </div>
            <div class="modal-header">
                <p class="modal-title">Modal title</p>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-danger in-flow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header main">
                <p class="modal-title headline-alert">Danger modal main title</p>
            </div>
            <div class="modal-header">
                <p class="modal-title">Modal title</p>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal">Modal button</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>