<p id="popovers-tooltips" class="headline-layout">Popovers & Tooltips</p>
<p class="headline-layout small">Popovers</p>
<button
    type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
    data-content="And here's some amazing content. It's very engaging. Right?"
>
    Click to toggle popover
</button>
<br>
<button
    type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top"
    data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
>
    Popover on top
</button>
<button
    type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right"
    data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
>
    Popover on right
</button>
<button
    type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom"
    data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
>
    Popover on bottom
</button>
<button
    type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left"
    data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
>
    Popover on left
</button>

<p class="headline-layout small">Tooltips</p>
<div class="float-left mr-5" data-toggle="tooltip" data-placement="top" title="<strong>Food</strong>: Needed for feeding the population.">
    <i class="fa fa-fw fa-seedling icon-food"></i> <span>100%</span>
</div>
<div class="float-left mr-5" data-toggle="tooltip" data-placement="bottom" title="<strong>Ore</strong>: Needed for building stuff.">
    <i class="fa fa-fw fa-gem icon-ore"></i> <span>100%</span>
</div>
<div class="float-left mr-5" data-toggle="tooltip" data-placement="left" title="<strong>Duranium</strong>: Needed for building stuff.">
    <i class="fa fa-fw fa-gem icon-duranium"></i> <span>100%</span>
</div>
<div class="float-left mr-5" data-toggle="tooltip" data-placement="right" title="<strong>Deuterium</strong>: Needed for building stuff.">
    <i class="fa fa-fw fa-gem icon-deuterium"></i> <span>100%</span>
</div>
<div class="clearfix"></div>