<p id="tables" class="headline-layout">Tables</p>
<p>Fully responsive table (check it out on mobile) with tooltips to save space (hover over the resources).</p>
<div class="container-fluid table">
    <div class="row d-none d-md-flex table-header">
        <div class="col-md-2 table-cell">Class</div>
        <div class="col-md-2 table-cell">Coordinates</div>
        <div class="col-md-2 table-cell">Population</div>
        <div class="col-md-2 table-cell">Status</div>
        <div class="col-md table-cell">Resources</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Class
                </div>
                <div class="col-6 col-md-12 table-cell">
                    <i class="fa fa-fw fa-globe"></i> M
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Coordinates
                </div>
                <div class="col-6 col-md-12 table-cell">
                        178/39
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Population
                </div>
                <div class="col-6 col-md-12 table-cell">
                    991
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Colonized
                </div>
                <div class="col-6 col-md-12 table-cell">
                    Colonized<br>
                    by Space Empire
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Resources
                </div>
                <div class="col-6 col-md-12 table-cell">
                        <div class="row resources">
                            <div class="col" data-toggle="tooltip" data-placement="top"title="<strong>Food</strong>: Needed for feeding the population.">
                                <i class="fa fa-fw fa-seedling icon-food"></i> <span>120%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Ore</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-ore"></i> <span>100%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Duranium</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-duranium"></i> <span>100%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Deuterium</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-deuterium"></i> <span>100%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Crystal</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-crystal"></i> <span>0%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Dilithium</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-dilithium"></i> <span>0%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Iridium</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-iridium"></i> <span>0%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Tritanium</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-tritanium"></i> <span>0%</span>
                            </div>
                            <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Trellium-D</strong>: Needed for building stuff.">
                                <i class="fa fa-fw fa-gem icon-trellium-d"></i> <span>0%</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Class
                </div>
                <div class="col-6 col-md-12 table-cell">
                    <i class="fa fa-fw fa-globe"></i> H
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Coordinates
                </div>
                <div class="col-6 col-md-12 table-cell">
                        178/39
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Population
                </div>
                <div class="col-6 col-md-12 table-cell">
                    783
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Colonized
                </div>
                <div class="col-6 col-md-12 table-cell">
                    Not colonized
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-6 d-flex d-md-none table-sidebar table-cell">
                    Resources
                </div>
                <div class="col-6 col-md-12 table-cell">
                    <div class="row resources">
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Food</strong>: Needed for feeding the population.">
                            <i class="fa fa-fw fa-seedling icon-food"></i> <span>100%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Ore</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-ore"></i> <span>100%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Duranium</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-duranium"></i> <span>100%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Deuterium</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-deuterium"></i> <span>100%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Crystal</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-crystal"></i> <span>100%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Dilithium</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-food"></i> <span>0%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Iridium</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-iridium"></i> <span>0%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Tritanium</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-tritanium"></i> <span>0%</span>
                        </div>
                        <div class="col" data-toggle="tooltip" data-placement="top" title="<strong>Trellium-D</strong>: Needed for building stuff.">
                            <i class="fa fa-fw fa-gem icon-trellium-d"></i> <span>0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="bootstrapTables">
    <div class="card">
        <div class="card-header" id="bootstrapTablesH">
            <button class="btn btn-block btn-link" type="button" data-toggle="collapse" data-target="#bootstrapTablesC" aria-expanded="false" aria-controls="bootstrapTablesC">
                Standard Bootstrap Tables
                <i class="fa fa-fw fa-chevron-up"></i>
                <i class="fa fa-fw fa-chevron-down"></i>
            </button>
        </div>
        <div id="bootstrapTablesC" class="collapse" aria-labelledby="bootstrapTablesH" data-parent="#bootstrapTables">
            <div class="card-body">
                <p class="headline-layout small">Non-bootstrap table</p>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table</p>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table dark</p>
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table header light & dark</p>
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table striped (light/dark)</p>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table bordered (light/dark)</p>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table borderless (light/dark)</p>
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <table class="table table-borderless table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table hover (light/dark)</p>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table small (light/dark)</p>
                <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table colored (light/dark)</p>
                <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr class="table-warning">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td class="table-active">Larry</td>
                        <td>the Bird</td>
                        <td class="table-success">@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="bg-warning">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr class="bg-success">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td class="bg-warning">the Bird</td>
                        <td class="bg-success">@twitter</td>
                      </tr>
                    </tbody>
                </table>
                <p class="headline-layout small">Table (not really) responsive, but scrollable</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>